<div class="alert alert-warning" *ngIf="error">
    Could not load tournaments
</div>

<div *ngFor="let tournament of tournaments">

    <div class="panel panel-primary">

        <div class="panel-heading">
            <h1 class="panel-title">{{ tournament.name }}</h1>
        </div>

        <div *ngIf="tournament.type == 'League'">
            <tournament-ranking [tournament]="tournament"></tournament-ranking>
        </div>

        <div class="panel-body">
            <p>The tournament is running</p>
        </div>

        <div class="panel-footer">
            <a [routerLink]="['/tournament/show', tournament.id]" class="btn btn-default btn-sm" role="button">Show</a>
        </div>

    </div>

</div>
