<div class="row">

    <div class="page-header">
        <h1>Player list</h1>
    </div>

    <div class="btn-group" style="margin-bottom: 10px;">
        <a [routerLink]="['/player/new']" class="btn btn-default">Add player</a>
    </div>

    <div class="alert alert-warning" *ngIf="error">
        Could not load player list
    </div>

    <table class="table table-striped table-bordered" *ngIf="!error">

        <thead>
        <tr>
            <th>Name</th>
            <th>Points</th>
            <th>Matches</th>
            <th></th>
        </tr>
        </thead>

        <tbody>

            <tr *ngFor="let player of players">
                <td><a [routerLink]="['/player/show', player.id]">{{ player.name }}</a></td>
                <td class="right">{{ player.points }}</td>
                <td class="right">{{ player.matchCount }}</td>
                <td><a [routerLink]="['/player/edit', player.id]" class="btn btn-default btn-xs">Edit</a></td>
            </tr>

        </tbody>

    </table>

    <p *ngIf="players.length === 0 && !error" class="text-center">No players</p>

</div>
