<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Fußi</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

            <li class=""><a href="#">Home</a></li>
            <li class="dropdown" [class.open]="tournamentsOpen">
                <a id="trnmnts" class="dropdown-toggle" data-toggle="dropdown" (click)="tournamentsOpen = !tournamentsOpen">Tournaments <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#" tabindex="-1" role="menuitem">Tournaments</a></li>
                    <li class="divider"></li>
                    <li *ngFor="let tournament of tournaments" role="presentation">
                        <a href="#" tabindex="-1" role="menuitem">{{ tournament.name }}</a>
                    </li>
                </ul>
            </li>

            <li class=""><a [routerLink]=" ['./player/list'] " routerLinkActive="active">Players</a></li>
        </ul>
    </div>
</nav>
