body {
    padding-top: 60px;
    padding-bottom: 40px;
}

#matchform input {
    width: 30px;
}

td.matchscore {
    background-color: #FCF8E3;
    text-align: center;
}

th.matchscore {
    text-align: center;
}

table.matches:last-child {
    border-bottom: 1px #DDD solid;
}

span.result {
    white-space: nowrap;
}

td.playerName.bold {
    color: #f89406;
    font-weight: bold;
}

#infoBox th,
#infoBox td{
    padding: 5px;
    text-align: right;
}
table.matches.table th.inactive,
table.matches.table td.inactive a
{
    color: #ccc;
}

table td.right,
table th.right
{
    text-align: right;
}