<div class="row">

    <div class="page-header">
        <h1>List of tournaments</h1>
    </div>

    <div class="btn-group" style="margin-bottom: 10px;">
        <a href="#" class="btn btn-default">Add league</a>
        <a href="#" class="btn btn-default">Add tournament</a>
    </div>

    <div class="alert alert-warning" *ngIf="error">
        Could not load tournament list
    </div>

    <table class="table table-striped table-bordered">

        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Active</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let tournament of tournaments">
                <td>
                    <a [routerLink]="['/tournament/show', tournament.id]">{{ tournament.name }}</a>
                </td>
                <td>
                    {{ tournament.type }}
                </td>
                <td>
                    <span *ngIf="tournament.active">yes</span>
                    <span *ngIf="!tournament.active">no</span>
                </td>
                <td class="right">
                    <div class="btn-group">
                        <a [routerLink]="['/tournament/show', tournament.id]" class="btn btn-default btn-xs">Show</a>
                        <a *ngIf="tournament.type == 'League'" href="#" class="btn btn-default btn-xs">Players</a>
                        <a *ngIf="tournament.type != 'League'" href="#" class="btn btn-default btn-xs">Setup</a>
                    </div>
                </td>
            </tr>
        </tbody>

    </table>

</div>
