<div class="row">

    <div class="page-header">
        <h1>Player {{player.name}}</h1>
    </div>

    <dl class="dl-horizontal">
        <dt>Points</dt>
        <dd>{{player.points}}</dd>
        <dt>Matches played</dt>
        <dd>{{player.matchCount}}</dd>
    </dl>

    <table class="table table-striped table-bordered">
        <tr>
            <th></th>
            <th>Date</th>
            <th>Players</th>
            <th>Result</th>
            <th class="right">Chance to win</th>
            <th class="right">Points</th>
        </tr>

        <tr *ngFor="let log of pointLog; let cnt = index">
            <td class="right">{{pointLog.length - cnt}}</td>
            <td>{{log.match.date}}</td>
            <td>
                <match-player [match]="log.match" [pointLog]="log"></match-player>
            </td>
            <td>
                <match-result [match]="log.match"></match-result>
            </td>
            <td class="right">{{playersChance(log)}}</td>
            <td class="right">{{playersPoints(log)}}</td>
        </tr>

    </table>

</div>
