<div class="page-header">
    <h1 *ngIf="player.id">Edit player</h1>
    <h1 *ngIf="!player.id">New player</h1>
</div>

<div class="alert alert-warning" *ngIf="error">
    {{ errorMessage }}
</div>

<form [formGroup]="playerForm" (ngSubmit)="onSubmit()" novalidate class="form-horizontal">

    <div class="form-group" [class.has-error]="playerForm.controls.name?.invalid && !playerForm.controls.name?.pristine">
        <label class="col-sm-2 control-label" for="name">Name</label>
        <div class="col-sm-10">
            <input type="text" name="name" id="name" class="form-control" formControlName="name">
            <span [class.help-block]="playerForm.controls.name?.invalid && !playerForm.controls.name?.pristine"
                  [hidden]="playerForm.controls.name?.valid || playerForm.controls.name?.pristine">
                <p *ngIf="playerForm.controls.name?.errors?.required">Name is required</p>
                <p *ngIf="playerForm.controls.name?.errors?.remote">{{ playerForm.controls.name.errors.remote }}</p>
            </span>
        </div>
    </div>

    <div class="form-actions">
        <input name="submit" type="submit" class="btn btn-primary" value="Speichern" [disabled]="playerForm.invalid">
    </div>

</form>
