<div class="panel panel-primary">

    <div class="panel-heading">
        <h1 class="panel-title">Recent Matches</h1>
    </div>

    <table class="table table-striped">

        <tr *ngFor="let match of matches">
            <td>{{ match.date }}</td>
            <td>

                <match-player [match]="match"></match-player>

                <br>

                <small><span class="muted">Tournament:</span> <a href="#">{{ match.tournamentName }}</a></small>

            </td>
            <td>
                <match-result [match]="match"></match-result>
            </td>
        </tr>

    </table>

</div>
